html 
{ 
	background: #777; 
}

body 
{ 
  padding: 2em 1em; 
  margin: 0 auto; 
  background: white; 
}


html, h4, h5, h6 
{ 
  font-family: sans-serif; 
}

h1, h2, h3, #header nav 
{ 
  font-family: Cambria, Georgia, "Times New Roman", Times, serif; 
}


a         { color: #337; }
a:visited { color: #737; }
a:hover   { color: #000; }


section 
{ 
  padding-bottom: 4em; 
}

article 
{ 
  padding: 1em 0 2em 0; 
  margin: 0 3em; 
}


.passed { color: green; } .passed:after { content: " - passed"; font-weight: normal; }
.failed { color: red;   } .failed:after { content: " - failed"; font-weight: normal; }


code.block
{
  display: block;
  white-space: pre;
  margin: -1em;
  padding: 1em;
  border: 1px solid #ccc;
  overflow-x: scroll;
}


hr 
{ 
  margin: 3em 0; 
}

table 
{ 
  border-spacing: 0; 
}

tbody, tr, td 
{ 
  border: 0; margin: 0; padding: 0; 
}

td 
{ 
  padding: 0 6px 3px 3px; 
  font-family: monospace; 
  border: 0; 
  vertical-align: top; 
}

td                   { border-top:  1px solid #ccc; }
td:nth-child(2)      { border-left: 1px solid #ccc; }
tr tr:first-child td { border-top:  0;              }

td code.block 
{ 
  margin: 0; 
  padding: 0; 
  border: 0; 
}

.hidden, .collapsed
{ 
  display: none; 
}

.collapser, .expander
{
  font-size: 80%;
  height: 1em;
  color: #EEE;
  cursor: pointer;
}

.collapser { display: none; }


dt
{
  float: left;
  clear: left;
  width: 140pt;
  padding: 0.3em 0 0 0;
  text-align: right;
}

dt:after
{
  content: ":";
}

dd
{
  float: left;
  padding: 0.3em 0 0 0;
}

dl:after
{
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

dd ul:first-child
{
  margin-top: 0;
  padding-top: 0;
}

dd ul
{
}
